@CHARSET "ISO-8859-1";
#body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	color: 000000;
	font-weight: bold;
	
}
#login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	position: absolute;
	right: 75px;
	top: 0px;
}
.Category {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000000;
	font-weight: normal;
	border-style:solid;
	border-width:2px;
	background-color:#C0C0C0
}
.Thread {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000000;
	font-weight: bold;
	border-style:groove;
	border-width:2px;
	background-color:#3366FF

}
.Comment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #870231;
	font-weight: bold;
	border-style:solid;
	border-width:2px;
	width: 600px;
	overflow: auto;	
	padding:5px;
	
    border-spacing:5px 5px; 
	-moz-border-radius-topright: 50px 7px;
	border-top-right-radius: 50px 7px;
	
}
table { 
    border-spacing:0;
    border-collapse:collapse;
}


.Content {
	font-size: 32px;
	border-style:solid;
	border-width:4px;
	
}