@CHARSET "ISO-8859-1";
#body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FF2FFF;
	font-weight: bold;
}
#Login {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FF2FFF;
	font-weight: bold;
}
p.pos_fixed{
	position:fixed;
	top:0px;
	right:0px;
	} 
#Style3 {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FF2FFF;
	font-weight: bold;
}
